<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="entityManagerFactory"
          class="javax.persistence.Persistence"
          factory-method="createEntityManagerFactory">
          <constructor-arg value="Car"/>
    </bean>

    <bean id="entityManager"
          factory-bean="entityManagerFactory"
          factory-method="createEntityManager"/>

    <bean id="carDaoJPA"
          class="spring.practice.dao.CarDaoJPA">
        <property name="entityManager" ref="entityManager"/>
    </bean>

    <bean id="carService"
          class="spring.practice.service.CarService">
        <property name="carDaoJPA" ref="carDaoJPA"/>
    </bean>


</beans>
